.blog {
  padding-bottom: 100px;
}

.blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
}

.blog__name {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #000000;
}

.blog__btn {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #dee1e6;
  padding: 21px 30px 17px 29px;
  background: #4f46ba;
  border-radius: 10px;
}

.blog__posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66.666% 33.333%;
      grid-template-columns: 66.666% 33.333%;
  gap: 30px;
}

.bigposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.bigposts__image {
  position: relative;
  padding-bottom: 71%;
}

.bigposts__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.bigposts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 11px;
  padding-top: 14px;
}

.bigposts__date {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
  padding-right: 19px;
}

.bigposts__category {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
}

.bigposts__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
  padding-bottom: 8px;
  max-width: 378px;
}

.bigposts__subtitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
  max-width: 378px;
}

.smallposts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin: 26px 0;
}

.smallposts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
          column-gap: 19px;
}

.smallposts__date {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
}

.smallposts__category {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607d;
}

.smallposts__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000000;
}

.smallposts__line {
  width: 378px;
  height: 2px;
  left: 938px;
  top: 4624px;
  background: #dee1e6;
}

.smallitem1 {
  margin-top: 0px;
}

@media (max-width: 1001px) {
  .blog {
    row-gap: 30px;
  }
  .blog__posts {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .bigposts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
}
